.forgot-password {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .sec-cnt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
  .container {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .heading {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    .btn-cnt {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
