.input-cnt {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;

  input {
    padding: var(--input-padding);
    border: var(--input-border);
    border-radius: var(--input-border-radius);
    width: 100%;
  }

  .password-inp-cnt {
    position: relative;
    display: flex;
    align-items: center;
  }
}
